{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
  
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            {# <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr> #}
            <tr>
                <th>Product Type</th>
                <td>{{ product.productType }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
       
              <tr>
                <th>Category</th>
                <td>{{ product.category }}</td>
            </tr>
                
        </tbody>
    </table>

    <a href="{{ path('product_index') }}" class="btn btn-primary">back to list</a>
     	<a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-success" title="Request">
														<i class="">Request</i>
													</a> 

{% endblock %}
