{% extends 'base.html.twig' %}

{% block title %}Transfer index{% endblock %}

{% block body %}
    <table class="table table-stripped bg-white">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Total Items</th>
                <th>Requested Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transfer in transfer %}
            <tr>
                <td>{{ transfer.fname }}</td>
                <td>{{ transfer.tname }}</td>
                <td>{{ transfer.total }}
                <td>{{ transfer.date }}
                <td>
                    <a href="{{ path('transfer_show', {'id': transfer.id}) }}">show</a>
                    <a href="{{ path('transfer_edit', {'id': transfer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
