{% extends 'base.html.twig' %}

{% block title %}Transfer index{% endblock %}

{% block body %}
    <div class="card>
        <div class="card-header">
            <div class="card-tools" style="float:right;margin-bottom: 10px;" >
                <form class="form-inline ml-3">
                    <div class="input-group ">
                        <input class="form-control" autocomplete="off" name="search" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class=" input-group-text btn btn-navbar " type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
            <h3 class="card-title">Transfer Request List</h3>
        </div>
    </div>
    <table class="table table-stripped bg-white">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Group Id</th>
                <th>Requested Date</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transfer in transfer %}
            <tr>
                <td>{{ transfer.ffname }} {{transfer.fmname}} {{transfer.flname}}</td>
                <td>{{ transfer.firstName }} {{transfer.middleName}} {{transfer.lastName}}</td>
                <td>{{ transfer.group_id }}</td>
                <td>{{ transfer.date|date("Y-m-d") }}
                <td>{% if transfer.status == 0 %}

                    {% elseif transfer.status == 1 %}


                    {% endif %}
                <td>
                    <a href="{{ path('transfer_show', {'id': transfer.id}) }}">show</a>
                    {# <a href="{{ path('transfer_edit', {'id': transfer.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="float-right">{{ knp_pagination_render(transfer) }}</div>
{% endblock %}
