{% extends 'base.html.twig' %}

{% block title %}Transfer{% endblock %}

{% block body %}

    <div class="container card">
        <div class="row">
            <div class="col-sm-10">
                <table class="table table-bordered">
                    <tr>
                        <td width="200px">Transfered From</td>
                        <td>{{group.firstName}} {{group.middleName}} {{group.lastName}}</td>
                    </tr>
                    <tr>
                        <td width="200px">Transfered To</td>
                        <td>{{group.tfname}} {{group.tmname}} {{group.tlname}}</td>
                    </tr>
                    <tr>
                        <td>Transfer Date</td>
                        <td>{{group.date| date("Y-m-d")}}</td>
                    </tr>
                </table>
                <br>

                <center><h5>ITEMS LIST</h5></center>

                <table class="table table-bordered">
                    <thead>
                        <th>Product Name</th>
                        <th>Serial Number</th>
                        <th>Model Number</th>
                    </thead>
                    <tbody>
                        {% for tr in transfer %}
                            <tr>
                                <td>{{ tr.name }}</td>
                                <td>{{ tr.serial }}</td>
                                <td>{{ tr.model }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if app.user.id != group.sender_id %}
                <form action="accept" method="post" style="padding:25px;">
                    <input type="hidden" value="{{ group.id }}" name="test">
                    {% if group.status == 0 %}
                    <input type="submit" class="btn btn-primary" value="Accept Request" style="margin-bottom: 3px;">
                    {# {% elseif group.status == 5 %} #}
                    <a href="reject/{{group.id}}" class="btn btn-danger"/>Reject Request</a>
                    {% elseif (group.to_id == app.user.id) and (group.status !=4) %}
                        <p><i class="fa fa-check"></i> You Accepted this request</p>
                    {% elseif (group.status == 2) or (group.status == 3) %}
                        <p><i class="fa fa-spinner"></i> Approving in Progress</p>
                    {% elseif group.status == 4%}
                        <p><i class="fa fa-check"></i> Approved</p>
                    {% elseif group.status == 7 %}
                        <p><i class="fa fa-times"> Not Accepted/Approved</i></a>
                    {% endif %}
                 </form>
                {% endif %}

                {% if (group.status == approval_level) %}
                    <a href="approve/{{group.id}}" class="btn btn-primary mb-5 ml-3">Approve</a>
                    <a href="reject/{{group.id}}" class="btn btn-primary mb-5 ml-3">Reject</a>
                    
                {% elseif (group.status == 4) and (approval_level == 3)%}
                    <a href="print/{{group.id}}" class="btn btn-success mb-5 ml-3">Print Approval</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
