<!DOCTYPE html>
<html>
<head>
	<title></title>
	
		<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
	<style>
		.header2{
			padding-left: 40px;
		}

		.logo{
			margin: 10px;
			height:100px;
			width: 100px;
		  }

		  .bt-0{
			border-top: 0px;  
		  }
		  
		  th{
			  text-align: center;
		  }

		  td{
			  padding: 10px;
		  }
		  .bm-0{
			border-bottom: 0px;
			padding-top: 10px;
		  }
		  .container{
			  /*background: #ccc;*/
		  }
	</style>
</head>

<body>
{% set total =0  %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6"> 
				 
					<img class="logo" src="{{asset('assets/images/logo.png')}}"><br>
					<p>የኢትዮጵያ ፌደራላዊ ዲሞክራሲያዊ ሪፐብሊክ</p>
					<p> THE FEDERAL DEMOCRATIC REPUBLIC<br> OF ETHIOPIA</p>
					<P>ገንዘብ ሚኒስቴር</P>
					<p>MINISTRY OF FINANCE</p>
				 
				<p> {{requests.requester.department}} Department</p>
			</div>
			<div class="col-sm-6 header2">
				
				ሴሪ ሀ/17<br>
				Serial A/17<br>
				1. ገንዘብ በወጪ መዝገብ የተጻፈበት ተራ ቁጥር ____________<br>
				   item No. in expenditure history<br>
				2. እቃ ገቢ መዝገብ የገባበት ንምራ ___________________<br>
				   No of entry in the register of incoming goods<br>
				3. እቃው የተሰጠው መደብ ________________________<br>
				   Classification of stock<br>
				4. እቃው የተቀመጠበት መጋዘን ቁጥር __________________<br>
				   Store No.<br>
				5. የመደርደሪያው ቁጥር ___________________________<br>
				   Shelf No.<br>
				6. በእቃው ወጪ መዝገብ የተጻፈበት ቁጥር _______________<br>
				   No of entry in the register of out coming goods
			</div>
		</div><br><br>

		<center>
			<div class="row">
			 
				<div class="col-sm-9">
				 
					<b> ወይም የንብረት ወጪ ደረሰኝ
						<p><u>RECEIPT FOR ARTICLES OF PROPTERTY ISSUED</u></p>
					</b>
					 
				</div>
				<div class="col-sm-3">
					N<sup><u>o</u></sup> ________________
				</div>
				
				<div class="col-md-12">
					ለ {{ requests.requester }} ቀን  {{ requests.requestedDate | date('y-m-d') }}  ዓ.ም በቁጥር ______________ በተጻፈው ትእዛዝ መሰረት ቀጥሎ <br>
					በዝርዝር የተጻፉትን እቃዎች ለ {{ requests.reason }} አገልግሎት በትክክል ቆጥሬ መረከቤን በፊርማዬ አረጋግጣለሁ።<br> 


					
					<table width="90%" border="1">
						<thead>
							<tr>
								<th class="bm-0">
									ሴሪ <br>
									Serial No.
								</th>
								<th class="bm-0">
									የእቃው ወይም የንብረቱ ዓይነት ዝርዝር<br>
									Detailed description of Articles or Property
								</th>
								<th class="bm-0">
									ሞዴል<br>
									Model 
								</th>
								<th class="bm-0">
									ሴሪ<br>
									Serial
								</th>
								<th colspan="2">
									ተከታታይ
								</th>
								<th class="bm-0">ብዛት<br>Quantity</th>
								<th colspan="1">የአንዱ ዋጋ<br>Unit Price</th>
								<th colspan="1">የዋጋው ድምር<br>Total Price</th>
								<th class="bm-0">ምርመራ<br>Remarks</th>
								
							</tr>
							<tr>
			<th class="bt-0"></th><th class="bt-0"></th><th class="bt-0"></th><th class="bt-0"></th><th>ከ</th><th>እስከ</th>
			<th class="bt-0"></th><th>ብር<br>Birr</th>
			<th>ብር<br>Birr</th>
			
			<th class="bt-0"></th>
							</tr>
						</thead>
						<tbody>
						 {# {% for order in requests.orders %}
							
						
							<tr>
								<td>{{loop.index}}</td>
								<td>{{order.stock.product.name}}</td>
								<td>{{order.model}}</td>
								<td>{{ order.serial }}</td>
								<td> </td>
								<td> </td>
								{% set quantity = order.itemApprovalStatuses | last.allowedQuantity %}
								<td>{{ quantity }}</td>
								<td>{{order.unitprice}}</td>
								<td>{{ order.unitprice * quantity }}</td>
								<td></td>
								{% set total = total +  order.unitprice * quantity  %}
								
								 
							</tr>
							{% endfor %}  #}
						{% set counter = 0%}

						{% for order in requests.orders %}
							
						{% for ser in order.serials %}
						{% set counter = counter + 1 %}
								<tr>
								<td>{{counter}}</td>
								<td>{{ser.orders.stock.product.name}}</td>
								<td>{{ser.model}}</td>
								<td>{{ ser.serial }}</td>
								<td> </td>
								<td> </td>
								{% set quantity = order.itemApprovalStatuses | last.allowedQuantity %}
								<td>{{ ser.quantity }}</td>
								<td>{{ser.orders.unitprice}}</td>
								<td>{{ ser.orders.unitprice * ser.quantity }}</td>
								<td></td>
								{% set total = total +  ser.orders.unitprice * ser.quantity  %}
								
								 
							</tr>
						{% endfor %}
						
							{% endfor %} 




							<tr>
								<td colspan="8" style="margin-left:200px "><strong>ድምር</strong></td>
								<td><strong>{{total}}</strong></td>
								<td></td>
							</tr>
						</tbody>
					</table>

				</div>
				 
			</div>
			 </center>
			<div class="row">
				<div class="col-md-6"><br>
					______ ቀን  _________ ዓ.ም<br><br>
					<p>የግምጃ ቤቱ ፊርማ ________<br>Store-keeper's Signature</p>
				</div>
				<div class="col-md-6">
					<div class="float-right">
						<br><br><br>
						የተቀባዩ ፊርማ ________<br>
						Receipent's Signature
					</div>
				</div>
			</div>
			<div class="row">
				<table>
					<tr>
						<td> ማመልከቻ : </td>
						<td> ይህ ካርኔ 3 ኮፒ ሆኖ በካርቦን ይሰራል። ከነዚህም ሁለቱ ተጎራጅ ሆነው 1ኛው በክፍሉ መስሪያ ቤት ሂሳብ ቤት አማካይነት ለገንዘብ ሚኒስቴር ጠቅላይ 
							ሂሳብ ቤት ለእቃ መቆጣጠሪያ ክፍል  ይተላለፋል ። 2 ተኛው ለእቃ ወጪ መዝገብ ማስተካከያ ሰነድ እንዲሆነው ለክፍሉ ሂሳብ ቤት
							ይሰጣል። 3 ተኛው ኮፒ ሳይጎረድ እንዳለ ሆኖ የእቃ ግምጃ ቤት እቃውን በትእዛዝ ያወጣውን መሆኑን ለመርማሪ ለማስረዳት እንዲችል ከማዘዣው ጋር 
							በሙጫ አያይዞ እንዲኖር ይደረጋል።
						</td>
					</tr>
					<tr>
						<td> ማስጠንቀቂያ ፡ </td>
						<td>መደባቸው አንድ አይነት ለሆኑና ተቀባያቸው አንድ ሰው ብቻ ለሆነ ልዩ ልዩ እቃዎች አንድ ቅጠል ይበቃል።  መደባቸው ሲለያይ ግን በራሳቸው 
							አንዳንድ ደረሰኝ ሊጻፍላቸው ይችላል። ይኸውም በየመደቡ እየለዩ ለማኖር እንዲመች ነው። በዋጋው ድምር መጻፍያ አምድ ውስጥ የተመለከተው
							በውርስ ወይም በሌላ ምክንያት የተገኘ እቃ ወይም ንብረት የሆነ እንደሆነ ዋጋው በኤክስፖርት ተገምቶ ግምቱ በዋጋው አምድ ውስጥ ይገባል።
						</td>
					</tr>
				</table>				
			</div>
		</div>
	</div>



	<input type="button" value="Print" name="" id ="print" class="float-right mr-5 btn btn-primary" onclick="Actions()"/>
</body>

<script>
function Actions()
{
	window.print();
}
</script>
</html>