{% extends 'base.html.twig' %}

{% block title %}
	Request details
{% endblock %}

{% block stylesheets %}
	<style></style>
{% endblock %}

{% block body %}


	<div class="col-md-12">
		<div class="card card-info">
			<div class="card-header ">
				<h3 class="card-title ">Request details</h3>
				<div class="card-tools">

					<form class="form-inline ml-3">
						<div class="input-group ">
							<input class="form-control" autocomplete="off" name="search" type="search" placeholder="Search" aria-label="Search">
							<div class="input-group-append">
								<button class=" input-group-text btn btn-navbar " type="submit">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="card-body">


				<table class="table">
					<tbody>
						{% set coloring0 = "badge-success" %}

						<tr>
							<th>
								<span class="badge {{coloring0}}">RequestedDate</span>
							</th>
							<td>{{ requests.requestedDate ? requests.requestedDate|date('M d, Y') : '' }}</td>
						</tr>

						<tr>
							<th>
								<span class="badge {{coloring0}}">Requested By</span>
							</th>
							<td>{{ requests.requester }}</td>
						</tr>

						<tr>
							<th>
								<span class="badge {{coloring0}}">Department</span>
							</th>
							<td>{{ requests.requester.department }}</td>
						</tr>

						<tr>
							<th>
								<span class="badge {{coloring0}}">Request Purpose</span>
							</th>
							<td>{{ requests.reason }}</td>
						</tr>

					</tbody>
				</table>

				<hr>
				<form action="{{ path('requests_approve', {'id': requests.id}) }}" method="POST" id="approve_form">

					{% for order  in requests.orders %}

						<table class="table">
							<tbody id = "tbody">
								{% set coloring = "badge-info" %}
								<tr style="background-color:#e9ecef">
									{# <th> #}
									{# <span class="badge {{coloring}}">Product</span> #}
									{# </th> #}
										<td>
											<strong style="float:left"> {{ order.stock.product | upper }}</strong>
									</td>
									<th>
										{# <span class="badge {{coloring}}">Product</span> #}
									</th>

								</tr>
								<tr>
									<th>
										<span class="badge {{coloring}}">Product Type</span>
									</th>
									<td>{{ order.stock.product.productType }}</td>
								</tr>
								<tr>
									<th>
										<span class="badge {{coloring}}">Category</span>
									</th>
									<td>{{ order.stock.product.category }}</td>
								</tr>

								<tr>
									<th>
										<span class="badge {{coloring}}">Model</span>
									</th>
									<td>{{ order.stock.product.brand }}</td>
								</tr>
								<tr>
									<th>
										<span class="badge {{coloring}}">Requested quantity</span>
									</th>
									<td>{{ order.quantity }}</td>
								</tr>

								<tr>
									<th>
										<span class="badge {{coloring}}">Approved quantity</span>
									</th>
									{% set currentQuantity = order.quantity %}
									{% if order.itemApprovalStatuses | last %}
										{% set currentQuantity = order.itemApprovalStatuses | last.allowedQuantity %}
									{% endif %}
									<td><input id="quantity" type="number" onchange="changeList()" name="{{ order.id }}" value="{{ currentQuantity }}" min="1" max="{{ currentQuantity }}" {% if requests.closed %} disabled="disabled" {% else %} {% endif %}></td>
								</tr>
								{% if approvalLevel == 3 %}
									{% set counter = 0 %}
									{% for serial in 1..currentQuantity %}
										{% set counter = counter + 1 %}
										<tr id="{{counter}}">
											<th>
												<span class="badge {{coloring}}">Serial number</span>
											</th>
											<td><input type="text" name="serial_number[]" class="serial_number"></td>

											<th>
												<span class="badge {{coloring}}">Model number</span>
											</th>
											<td><input type="text" name="model_number[]" class="model_number"></td>
											<td>
												<p class="fa fa-window-close" onclick="removeList({{counter}})"></p>
											</td>
										</tr>
									{% endfor %}
									<script>
										var normal_length = '{{ counter }}';
									</script>
								{% endif %}

							</tbody>
						</table/>
						<hr>
					{% endfor %}
					{% if  requests.closed is same as(null) %}
						<th style="margin:0px">
							<input type="submit" value="Approve" name="approve" class="btn btn-success">
						</th>
					</input>
				</th>
			{% endif %}
		</form>

	</div>
</div></div><table class="table table-condensed" style="width:40%">
<thead>
	<tr>
		<th>
			<a href="{{ path('requests_index') }}" class="btn btn-primary">Back</a>
		</th>
		{% if not requests.closed %}
			{# <th  style="margin:0px"> <input type="submit" value="Approve" name="approve" class="btn btn-success"></input></form></th> #}
			<th style="margin:0px">
				<form action="{{ path('requests_approve', {'id': requests.id}) }}" method="POST">
					<input type="submit" value="Reject" name="reject" class="btn btn-warning"></input>
			</th>
		</form>
		</th><th>{{ include('requests/_delete_form.html.twig') }}</th>{% else %}<th style="margin:0px">
	</tr>
	
</thead>
<form action="{{path('model22',{id:requests.id})}}" method="POST">
	<input type="submit" value="Model 22" name="mod22" class="btn btn-info"></input></th></form></th>{% endif %}</tr></thead></table>{% endblock %}{% block javascripts %}
<script type="text/javascript">
	var list = {
		total_unchanged: normal_length,
		total: 0,
		id_counter: 100
	};

	list.total = normal_length;
	
	function changeList()
	{
		var value = $("#quantity").val();

		if(value <= list.total_unchanged && value > 0)
		{
			if(value != 0 && value > list.total){
				var condition = value - list.total;
				last = 0;
				if(condition == 1)
					last = 1;
				else if(condition > 1)
					last = condition;
				
				for(i = 0; i < last; i++){
					addList(list.id_counter++);
					list.total += 1;
				}
			}
			else if(value !=0 && value < list.total){
				var condition = value - list.total;
				last = 0;
				if( condition == -1)
					last = 1;
				else if( condition < -1)
					last = -1 * condition;
				

				for(i = 0; i < last; i++){
					var last_row = $("#tbody tr:last").attr("id");
					removeList( last_row , 1);
				}

			}
		}
		else{
			$("#quantity").val(list.total);
		}
	}


	function removeList( num, $flag = 0 ) {
		if(list.total>1){
			var item = document.getElementById(num);
			$value = $("#quantity").val();
			if($flag == 0){
				$value -= 1;
				$("#quantity").val($value);
			}	
			item.remove();
			list.total -= 1;
		}
	}

	function addList(num)
	{
		var body = $("<tr id = '"+ num +"'></tr>");
		var data = $("<th><span class='badge badge-info' > Serial number </span></th>"+
					"<td><input type = 'text'> </td>"+
					"<th><span class='badge badge-info' > Model number </span></th>"+
					"<td><input type = 'text'> </td>"+
					"<td><p class='fa fa-window-close' onclick = 'removeList("+ num +")'></p></td>"
		);

		body.append(data);
		$("#tbody").append(body);
	}

	$("#approve_form").on("submit",function(e){
		e.preventDefault();
		$serial = document.getElementsByName("serial_number[]");
		$model = document.getElementsByName("model_number[]");
		$error = false;
		for(i = 0; i<$serial.length; i++)
		{
			if($serial[i].value != "")
			{
				if($model[i].value == "")
				{
					$error = true;
				}
			}
		}

		if($error)
			alert("you should fill the model number if you fill serial");
		
		if(!$error)
			this.submit();
	});
	
</script>
{% endblock %}
