{% extends 'base.html.twig' %}

{% block title %}
	Request details
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
	 


	<div class="col-md-12">
		<div class="card card-info">
			<div class="card-header ">
				<h3 class="card-title ">Request details</h3>
				<div class="card-tools">

					<form class="form-inline ml-3">
						<div class="input-group ">
							<input class="form-control" autocomplete="off" name="search" type="search" placeholder="Search" aria-label="Search">
							<div class="input-group-append">
								<button class=" input-group-text btn btn-navbar " type="submit">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="card-body">
 

 			<table class="table">
					<tbody>
						{% set coloring0 = "badge-success" %}
                					 
						<tr>
							<th>
								<span class="badge {{coloring0}}">RequestedDate</span>
							</th>
							<td>{{ requests.requestedDate ? requests.requestedDate|date('M d, Y') : '' }}</td>
						</tr>

						<tr>
							<th>
								<span class="badge {{coloring0}}">Requested By</span>
							</th>
							<td>{{ requests.requester }}</td>
						</tr>

						<tr>
							<th>
								<span class="badge {{coloring0}}">Department</span>
							</th>
							<td>{{ requests.requester.department }}</td>
						</tr>

						<tr>
							<th>
								<span class="badge {{coloring0}}">Request Purpose</span>
							</th>
							<td>{{ requests.reason }}</td>
						</tr>
					
					</tbody>
				</table>

<hr>
<form action ="{{ path('requests_approve', {'id': requests.id}) }}" method="POST">
{% for order  in requests.orders %}
    
				<table class="table">
					<tbody>
						{% set coloring = "badge-info" %}
                        <tr style="background-color:#e9ecef">
							{# <th> #}
								{# <span class="badge {{coloring}}">Product</span> #}
							{# </th> #}
								<td ><strong style="float:left">{{ order.product | upper }}</strong></td>
							<th>
								{# <span class="badge {{coloring}}">Product</span> #}
							</th>
						
						</tr>
						<tr>
							<th>
								<span class="badge {{coloring}}">Product Type</span>
							</th>
							<td>{{ order.product.productType }}</td>
						</tr>
						<tr>
							<th>
								<span class="badge {{coloring}}">Category</span>
							</th>
							<td>{{ order.product.category }}</td>
						</tr>
					
						<tr>
							<th>
								<span class="badge {{coloring}}">Model</span>
							</th>
							<td>{{ order.product.brand }}</td>
						</tr>
						<tr>
							<th>
								<span class="badge {{coloring}}">Requested quantity</span>
							</th>
							<td>{{ order.quantity }}</td>
						</tr>
						
						<tr>
							<th>
								<span class="badge {{coloring}}">Approved quantity</span>
							</th>
								{% set currentQuantity = order.quantity %}
							{% if order.itemApprovalStatuses | last %}
							{% set currentQuantity = order.itemApprovalStatuses | last.allowedQuantity %}
							{% endif %}
							<td><input type="number" name="{{ order.id }}" value="{{ currentQuantity }}" min="1" max="{{ currentQuantity }}"/ {% if requests.closed %}
							disabled="disabled"
							{% else %}
								
							{% endif %}
							></td>
						</tr>
					
					</tbody> 
				</table>
                <hr>
         {% endfor %}
{% if not requests.closed %}
		 <th  style="margin:0px"> <input type="submit" value="Approve" name="approve" class="btn btn-success"></input></th>
		 {% endif %}
		 </form>

			</div>
		</div>
	</div>


<table class="table table-condensed"  style="width:40%">
<thead>
<tr>


<th><a href="{{ path('requests_index') }}" class="btn btn-primary">Back</a></th>
{% if not requests.closed %}
{# <th  style="margin:0px"> <input type="submit" value="Approve" name="approve" class="btn btn-success"></input></form></th> #}
 

<th  style="margin:0px"><form action ="{{ path('requests_approve', {'id': requests.id}) }}" method="POST"> <input type="submit" value="Reject" name="reject" class="btn btn-warning"></input></form></th>

<th>{{ include('requests/_delete_form.html.twig') }}</th>

{% else %}
<th  style="margin:0px"><form action ="{{path('model22',{id:requests.id})}}" method="POST"> <input type="submit" value="Model 22" name="mod22" class="btn btn-info"></input></form></th>
{% endif %}

</tr>
</thead>
</table>


{% endblock %}
