{% extends 'base.html.twig' %}

{% block title %}
	Request details
{% endblock %}

{% block stylesheets %}
	<style></style>
{% endblock %}

{% block body %}


	{% set id='quantity' %}
	<script>
		var normal_length = [];
	</script>
	<div class="col-md-12">
		<div class="card card-info">
			<div class="card-header ">
				<h3 class="card-title ">Request details</h3>
				<div class="card-tools">

					<form class="form-inline ml-3">
						<div class="input-group ">
							<input class="form-control" autocomplete="off" name="search" type="search" placeholder="Search" aria-label="Search">
							<div class="input-group-append">
								<button class=" input-group-text btn btn-navbar " type="submit">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="card-body">


				<table class="table">
					<tbody>
						{% set coloring0 = "badge-success" %}

						<tr>
							<th>
								<span class="badge {{coloring0}}">RequestedDate</span>
							</th>
							<td>{{ requests.requestedDate ? requests.requestedDate|date('M d, Y') : '' }}</td>
						</tr>

						<tr>
							<th>
								<span class="badge {{coloring0}}">Requested By</span>
							</th>
							<td>{{ requests.requester }}</td>
						</tr>

						<tr>
							<th>
								<span class="badge {{coloring0}}">Department</span>
							</th>
							<td>{{ requests.requester.department }}</td>
						</tr>

						<tr>
							<th>
								<span class="badge {{coloring0}}">Request Purpose</span>
							</th>
							<td>{{ requests.reason }}</td>
						</tr>

					</tbody>
				</table>

				<hr>
				<form action="{{ path('requests_approve', {'id': requests.id}) }}" method="POST" id="approve_form">
					{% for order  in requests.orders %}
 
						 <table class="table" style="with:100%">
							<tbody id="{{order.id}}">
								{% set coloring = "badge-info" %}
								<tr style="background-color:#e9ecef">
									 
										<td>
											<strong style="float:left"> {{ order.stockUnique.product | upper }}</strong>
									</td>
									<th>
										 
									</th>

								</tr>
								<tr>
									<th>
										<span class="badge {{coloring}}">Product Type</span>
									</th>
									<td>{{ order.stockUnique.product.productType }}</td>
								</tr>
								<tr>
									<th>
										<span class="badge {{coloring}}">Category</span>
									</th>
									<td>{{ order.stockUnique.product.category }}</td>
								</tr>

								<tr>
									<th>
										<span class="badge {{coloring}}">Model</span>
									</th>
									<td>{{ order.stockUnique.product.brand }}</td>
								</tr>
								<tr>
									<th>
										<span class="badge {{coloring}}">Requested quantity</span>
									</th>
									<td>{{ order.quantity }}</td>
								</tr>

								<tr>
									<th>
										<span class="badge {{coloring}}">Approved quantity</span>
									</th>
									{% set currentQuantity = order.quantity %}
									{% if order.itemApprovalStatuses | last %}
										{% set currentQuantity = order.itemApprovalStatuses | last.allowedQuantity %}
									{% endif %}
									{% if approvalLevel == 3 %}
										<td><input id={{ "quantity" ~ order.id }} type="number" onchange="changeList({{'quantity' ~ order.id}}, {{order.id}})" name="{{ order.id }}" value="{{ currentQuantity }}" min="1" max="{{ currentQuantity }}" {% if requests.closed %} disabled="disabled" {% else %} {% endif %}></td>
									{% else %}
										<td><input id={{ "quantity" ~ order.id }} type="number" name="{{ order.id }}" value="{{ currentQuantity }}" min="1" max="{{ currentQuantity }}" {% if requests.closed %} disabled="disabled" {% else %} {% endif %}></td>
									{% endif %}
								</tr>
								{% set normal_length = [] %}
								{% if approvalLevel == 3 %}
									{% set counter = 0 %}


									{% if order.serials is same as(null) or order.serials | length == 0 %}
										{% for serial in 1..currentQuantity %}
											{% set counter = counter + 1 %}
											<tr id="{{order.id ~ counter}}">
												<th>
													<span class="badge {{coloring}}">Serial number</span>
												</th>
												<td><input type="text" name="{{'serial_' ~ order.id ~ '[]'}}" class="serial_number"></td>

												<th>
													<span class="badge {{coloring}}">Model number</span>
												</th>
												<td><input type="text" name="{{'model_' ~ order.id ~ '[]'}}" class="model_number"></td>
												<td>
													<p class="fa fa-window-close" onclick="removeList({{counter}},{{'quantity' ~ order.id}},{{ order.id}})"></p>
												</td>
											</tr>

											<script>
												normal_length[{{ order.id }}] = {{ counter }};
											</script>
										{% endfor %}
									{% else %}
										{% for ser in order.serials %}
											<tr>
												<th>
													<span class="badge {{coloring}}">Serial number</span>
												</th>
												<td><input type="text" value="{{ser.serial}}" disabled>
												</td>
												<td></td>
												<th>
													<span class="badge {{coloring}}">Model number</span>
												</th>
												<td><input type="text" value="{{ser.model}}" disabled></td>

											</tr>

										{% endfor %}

									{% endif %}


									<p style="display:none" class="order_total" data="{{order.id}}">{{counter}}</p>
								{% endif %}
							</tbody>
						</table/>  
						<hr>
					{% endfor %}


						{% set isApprover = 0 %}
			{% set ugrps = app.user.userGroup %}
			{% for ugrp in ugrps %}
				{% set ugrppermission = ugrp.permission %}
				{% for ugp in ugrppermission %}
					{% if ugp.name | upper == "approver1" | upper  %}
						{% set isApprover = 1 %}
					{% elseif  ugp.name | upper == "approver2" | upper %}
						{% set isApprover = 2 %}
					{% elseif  ugp.name | upper == "approver3" | upper %}
						{% set isApprover = 3 %}
						{% else %}
					{% endif %}
				{% endfor %}
			{% endfor %}



					{% if  requests.closed is same as(null) %}
						{% if isApprover  %}
						<th style="margin:0px">
							<input type="hidden" value="Approve" name="approve"/>
							<input type="submit" value="Approve" name="approve" class="btn btn-success"/>
						</th>
							{% endif %}
					{# </input> #}
				</th>
			{% endif %}
		</form>

	</div>
</div></div><table class="table table-condensed" style="width:40%">
<thead>
	<tr>
		<th>
			<a href="{{ path('requests_index') }}" class="btn btn-primary">Back</a>
		</th>
		{% if not requests.closed %}
		

			{% if isApprover %}
				<th style="margin:0px">

					<form action="{{ path('requests_approve', {'id': requests.id}) }}" method="POST">
						<input type="submit" value="Reject" name="reject" class="btn btn-warning"></input>
				</th>
			</form>
		</th>
	{% endif %}
</thead></tr></thead></th><th>{{ include('requests/_delete_form.html.twig') }}</th>{% else %}<th style="margin:0px"></th></tr></thead><form action="{{path('model22',{id:requests.id})}}" method="POST"><input type="submit" value="Model 22" name="mod22" class="btn btn-info"/></th></form></th>{% endif %}</tr> </thead></table>{% endblock %}{% block javascripts %}<script type="text/javascript"> total_unchanged = [];
var list = {
total: 0,
id_counter: 100,
total_orders: {{ requests.orders | length }}
};

var p = document.getElementsByClassName("order_total");

for (i = 0; i < p.length; i ++) {
var total = parseInt(p[i].innerText);
total_unchanged[p[i].attributes.data.value] = total;
}

list.total = normal_length;

function changeList(input_id, order_id) {
var p = document.getElementsByClassName("order_total");

for (i = 0; i < p.length; i ++) {
var total = parseInt(p[i].innerText);
total_unchanged[p[i].attributes.data.value] = total;
}
var row = document.getElementById(order_id);
var value = input_id.value;

console.log(list.total[2]);

if (value <= total_unchanged[order_id] && value > 0) {
if (value != 0 && value > list.total[order_id]) {
var condition = value - list.total[order_id];
last = 0;
if (condition == 1) 
last = 1;
 else if (condition > 1) 
last = condition;



for (i = 0; i < last; i ++) {
addList(order_id, list.id_counter ++);
list.total[order_id] = list.total[order_id] + 1;
}
} else if (value != 0 && value < list.total[order_id]) {
var condition = value - list.total[order_id];
last = 0;
if (condition == -1) 
last = 1;
 else if (condition < -1) 
last = -1 * condition;



for (i = 0; i < last; i ++) {
var id = "#" + order_id;
var last_row = $(id + " tr:last").attr("id");
removeList(last_row, input_id, order_id, 1);
}
}
} else { // $("#quantity").val(list.total[order_id]);
input_id.value = list.total[order_id];
}
}


function removeList(num, input_id, order_id, $flag = 0) {
if (list.total[order_id] > 1) {

$value = $("#" + input_id.id).val();
if ($flag == 0) {
console.log(input_id.id);
$value -= 1;
var num = document.getElementById(input_id.id);
num.value = $value;
var item = $("#" + order_id + " tr:last");
} else 
var item = document.getElementById(num);
 item.remove();
list.total[order_id] = list.total[order_id] - 1;
}
}

function addList(order_id, num) {
var body = $("<tr id = '" + num + "'></tr>");
var data = $("<th><span class='badge badge-info' > Serial number </span></th>" + "<td><input type = 'text'> </td>" + "<th><span class='badge badge-info' > Model number </span></th>" + "<td><input type = 'text'> </td>" + "<td><p class='fa fa-window-close' onclick = 'removeList(" + num + ")'></p></td>");

body.append(data);
$("#" + order_id).append(body);
}

$("#approve_form").on("submit", function (e) {
e.preventDefault();
$serial = document.getElementsByName("serial_number[]");
$model = document.getElementsByName("model_number[]");
$error = false;
for (i = 0; i < $serial.length; i ++) {
if ($serial[i].value != "") {
if ($model[i].value == "") {
$error = true;
}
}
}

if ($error) 
alert("you should fill the model number if you fill serial");



if (!$error) 
this.submit();



});</script>{% endblock %}
